= form_for @broadcast do |f|
  %h1 Create a Truth
  .input-group
    = f.text_field :label, :placeholder => 'Title of broadcast', :class => 'form-control'
    = f.datetime_field :closes_at, :placeholder => 'Date to be closed', :class => 'form-control'
    = f.text_field :url, :placeholder => 'Url', :class => 'form-control'

    %div{:role => 'tabpanel'}
      %ul.nav.nav-tabs{:role => 'tablist'}
        %li.active{:role => 'presentation'}
          %a{:href => '#js', :role => 'tab', :data => {:toggle => 'tab'}} Javascript
        %li{:role => 'presentation'}
          %a{:href => '#regex', :role => 'tab', :data => {:toggle => 'tab'}} RegEx

      .tab-content.clearfix
        #js.tab-pane.active{:role => 'tabpanel'}
          = f.text_area :match_javascript, :placeholder => 'Javascript', :rows => '6', :class => 'form-control'
        #regex.tab-pane{:role => 'tabpanel'}
          = f.text_area :match_regex, :placeholder => 'Regex', :rows => '6', :class => 'form-control'
        .include-jquery
          = f.check_box :include_jquery
          = f.label :include_jquery, 'Include JQuery'

    .row
      = f.submit 'Create', :class => 'btn-lg btn-primary'

#errors-modal.modal.fade{:role => 'dialog', :aria_labelledby => 'Your Truth is flawed', :aria_hidden => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Your Truth is flawed!
      .modal-body
