%main
  .container.show-broadcast
    .col-md-5
      - if @broadcast.execution_screenshot_file_name
        =link_to image_tag(@broadcast.execution_screenshot.url, :alt => @broadcast.label), @broadcast.execution_screenshot.url
      - else
        =image_tag 'pending-execution.png'
    .col-md-7
      %h1=@broadcast.label
      - if @broadcast.opened_at
        %h3.opened-at
          %strong Opened at:
          =@broadcast.opened_at
      - if @broadcast.btc_open_txid
        %h3.open-broadcast
          %strong Open Broadcast:
          = link_to 'blockchain.info', "%s%s" % ['https://blockchain.info/tx/', @broadcast.btc_open_txid], :target => '_blank'
          = link_to 'blockscan.com', "%s%s" % ['http://www.blockscan.com/tx?txhash=', @broadcast.btc_open_txid], :target => '_blank'
      - if @broadcast.closed_at
        %h3.closed-at
          %strong Closed at:
          =@broadcast.closed_at
      - else
        %h3.closes-at
          %strong Closes at:
          =@broadcast.closes_at
      - if @broadcast.btc_close_txid
        %h3.open-broadcast
          %strong Closed Broadcast:
          = link_to 'blockchain.info', "%s%s" % ['https://blockchain.info/tx/', @broadcast.btc_close_txid], :target => '_blank'
          = link_to 'blockscan.com', "%s%s" % ['http://www.blockscan.com/tx?txhash=', @broadcast.btc_close_txid], :target => '_blank'

      %h3.oracle-address
        %strong Feed Address:
        =@broadcast.btc_public_address
      %h3.url
        %strong URL:
        =@broadcast.url
      - case @broadcast.match_type
      - when 1
        %h3.match-regex
          %strong Match Regex:
        %pre.perl
          = @broadcast.match_regex
      - when 2
        %h3.match-javascript
          %strong Match Javascript:
        %pre.javascript
          %code
            = @broadcast.match_javascript
