!!!
%html
  %head
    %title Opidoki
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header#top.navbar.navbar-static-top.bs-docs-nav{:role => "banner"}
      = render :partial => 'nav'
    %main
      .container
        = yield
    %footer
      = render :partial => 'footer'
