!!!
%html
  %head
    %title OpiDoki
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav#top.navbar.navbar-fixed-top.bs-docs-nav{:role => "banner"}
      = render :partial => 'nav'
    %main
      = yield
    %footer
      = render :partial => 'footer'
    = javascript_include_tag "application", "data-turbolinks-track" => true
